<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">

	<property name="LOG_HOME" value="logs"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">5
		<!--<filter class="ch.qos.logback.core.filter.EvaluatorFilter">-->
		<!--<evaluator> &lt;!&ndash; 默认为 ch.qos.logback.classic.boolex.JaninoEventEvaluator &ndash;&gt;-->
		<!--<expression>return message.contains("billing");</expression>-->
		<!--</evaluator>-->
		<!--<OnMatch>ACCEPT </OnMatch>-->
		<!--<OnMismatch>DENY</OnMismatch>-->
		<!--</filter>-->
		<withJansi>true</withJansi>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) %green(${PID:- }[%thread]) %highlight(%-5level) --- %cyan(%-40.40logger{39}) - %green(%msg%n)
			</Pattern>
		</encoder>
	</appender>
	<appender name="FILE-AUDIT"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/application.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %-40.40logger{36} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<maxHistory>90</maxHistory>
			<maxFileSize>10MB</maxFileSize>
			<fileNamePattern>${LOG_HOME}/archived/application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
		</rollingPolicy>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>512</queueSize>
		<appender-ref ref="FILE-AUDIT"/>
	</appender>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<logger name="ch.qos.logback" level="WARN"/>

	<logger name="tech.iooo.coco" level="#logback.level#"/>

	<root level="#logback.level#">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="ASYNC"/>
	</root>

</configuration>